fastapi==0.109.2
uvicorn[standard]==0.27.1
sqlalchemy==2.0.27
pymysql==1.1.0
alembic==1.13.1
pydantic==2.6.1
pydantic-settings==2.1.0
pydantic[email]==2.6.1
python-dotenv==1.0.1
cryptography==42.0.2
email-validator==2.1.0.post1
